<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tourhunter task</title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
</head>
<body>
<div id="header">
    <h2>TourHunter task :</h2>
</div>
<div id="body">
    <div id="tree">
        <ul>
            <li v-for="branch in tree.branches" :key="branch.id">
                <span v-on:click="pinMarker(branch)">{{branch.name}}</span>
                <ul v-if="branch.expand">
                    <li v-for="scion in branch.scions" :key="scion.id">
                        <span v-on:click="pinMarker(scion)">{{scion.name}}</span>
                        <ul v-if="scion.expand">
                            <li v-for="leaf in scion.scions" :key="leaf.id">
                                <span v-on:click="pinMarker(leaf)" 
                                      v-bind:class="{selected: leaf.selected, 'visited' : leaf.visited && !leaf.selected}">{{leaf
                                    .name}}</span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div id="map">        
        <div id="leaflet"></div>
    </div>
    <div id="list">
        <ul>
            <li v-for="marker in listOfMarkers" :key="marker.id">
                {{marker}}
                <span v-on:click="deleteMarker(marker)" class="delete-button">Delete</span>
            </li>
        </ul>
    </div>
</div>
<div id="footer">

</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
        integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
        crossorigin=""></script>
<script src="app.js"></script>
</body>
</html>