html, body {

}

#header {
    text-align: left;
}

#body {
    display: table;
    width: 100%;
}

#tree, #map, #list {
    display: table-cell;
    height: 500px;
    vertical-align: top;
}

#tree {
    width: 300px; 
}

span {
    display: block;
}
span:hover {
    color: orange;
    cursor: pointer;
}

#map {

}

#list {
    width: 300px;
   
}
#list ul li{
    padding-bottom: 5px;
}

#leaflet {
    height: 400px;
}

.tree {
    background-color: lightpink;
    float: left;
    height: 100%;
    width: 30%;
}

.selected{
    font-weight: bold;
}

.visited{
    
}



.delete-button{
    display: inline;
    float: right;
    margin-left: 10px;
    margin-right: 40px;
    padding: 0px 10px;
    background-color: ghostwhite;
    color: black;
    border: 1px solid black;
    border-radius: 2px;
    cursor: pointer;   
}
.delete-button:hover{
    background-color: red;
    color: black;
}

